<main class="flex mt-20 items-center justify-between gap-10">
    <div>
        <h2 class="text-6xl text-balance flex flex-col text-white font-bold ">
            Desarrollamos Servicios de Calidad
        </h2>
        <h3 class="text-white text-lg mt-3">Bajo Estándares y Políticas Internacionales</h3>
        <img
        src="https://vag-global.com/wp-content/uploads/2023/11/awards3.png"
        class="block w-[150px] mt-10"
        />
    </div>         
    <img src="/ImageHeader.webp"
    class="block rounded-xl h-[450px]  object-cover w-[50%] "
    alt=""/>
</main>