<header class="flex justify-between items-center py-4">
  <a href="/">
    <img
    src="https://vag-global.com/wp-content/uploads/2022/10/imagotipo-white-v1.png"
      alt=""
      class=" w-60 h-auto block"
    />
</a>

 <nav class="md:flex gap-6 hidden text-white text-base list-none">
    
        <li>
            Inicio
        </li>    
        <li>
            Nosotros
        </li>    
        <li>
            Servicios
        </li>    
        <li>
            Alianzas
        </li>    
        <li>
            Publicaciones
        </li>   
        <li>
            Contacto
        </li>   

   
        </nav>
</header>