---
interface Props {
  ImageUrl: string;
  Title: string;
  Description: string;
}
const { ImageUrl, Description, Title }: Props = Astro.props;
---

<article>
  <img src={ImageUrl} alt="" />
  <h4>{Title}</h4>
  <p>{Description}</p>
  
</article>
